*{
 
margin: 0px;
padding: 0px;

} 
.main{
  background-color: #e8ebef;
  max-width: 85%;
  margin: auto;
  padding-left: 1rem;
}


.authentification{
 
  max-width: 80%;
  margin: auto;
  padding-left: 1rem;

}
.authentification h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5rem;
  display: flex;
  justify-content: center;
}